:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.products-container .card {
  display: block;
  justify-content:center;
  text-align: center;
  width: 250px;
  height: 300px;
  background-color: rgb(67, 81, 87);
  color: white;
  padding: 3em;
  cursor: pointer ;
}
.card img{
  width: 50%;
  height: 60%;

}
.btn_Back{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 50px;
}
.btn_Back:hover{
  background-color: black;
  color: white;
  transition: 0.3s;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .heading{
  font-size: 2em;
  /* font-weight: bold; */
}
.navbar input{
  width: 20em;
  font-size: 17px;
  padding: 0.2em;
  border: 1px solid black;
}

.navbar select{
  width: 10em;
  font-size: 17px;
  padding: 0.2em;
  border: 1px solid black;
}